.container{
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
}
.active-link{
  position: relative;
  &:before{
    position: absolute;
    content: '';
    bottom: -9px;
    left: 0;
    background: $red;
    width: 70%;
    height: 1.5px;
    transition: all .2s ease-in;
  }
  &:hover{
    &:before{
      width: 100%;
    }
  }
}
// FLEX
.f-bet{
  @include fl(bet);
}
.f-end{
  @include fl(end);
}
.red-bg{
  background: $red;
}
.fz-18{
  font-size: 18px;
}
.w-200{
  width: 200px;
}
